.footer {
    padding-top: 45px;
    padding-bottom: 50px;
    background-color: #000;
    color: $mainColor;
        &_ul {
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            line-height: 1.67;
        }
        &_li {
                & a {
                    text-decoration: none;
                    color: $mainColor;
                    }                   
        }
        &_inner {
            width: 280px;
            margin: 0 auto;
        }
        &_button {
            padding-top: 12px;
            padding-bottom: 12px;
            border: 1px solid;
            text-align: center;
            text-transform: uppercase;
            width: 150px;
}
        &_menu {
            padding: 0;
            font-size: 12px;
            margin-bottom: 50px;
}
        &_tel {
            text-transform: none;
}
}



.flex_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
        &_left {
            display: flex;
            flex: 0 0 45%;
            min-width: 45%;
            flex-direction: column;
    }
        &_right {
            flex: 0 0 55%;
            min-width: 55%;
    }
}

.developer {
    font-size: 12px;
        & a {
            color: $mainColor
        }
}

@media screen and (min-width: 480px) {

    .footer_ul {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        line-height: 1.67;
    }

    .footer {
        padding-top: 45px;
        padding-bottom: 100px;
        background-color: #000;
        color: $mainColor;
    }

    .footer_li a {
        text-decoration: none;
        color: $mainColor;
    }

    .footer_inner {
        width: 77%;
        margin: 0 auto;
    }

    .flex_container_left {
        flex: 0 0 50%;
        min-width: 50%;

    }

    .flex_container_right {
        flex: 0 0 50%;
        min-width: 50%;
    }

    .footer_button {
        margin-left: auto;
        padding-top: 12px;
        padding-bottom: 12px;
        border: 1px solid;
        width: 172px;
        text-align: center;
        text-transform: uppercase;
    }

    .footer_menu {
        padding: 0;
        font-size: 18px;
        margin-bottom: 87px;
    }

    .footer_tel {
        text-transform: none;
    }

    .developer {
        font-size: 18px;
            & a {
             color: $mainColor;
            }
        }
}
@media screen and (min-width: 768px) {
    
    .sale__img {
        height: 192px;
        width: 79%;
        margin-bottom: 58px;
    }

    .footer {
        padding-bottom: 28px;
    }

    .flex_container_left {
        flex: 0 0 65%;
        min-width: 65%;
        flex-direction: row;
        justify-content: space-between;
    }

    .flex_container_right {
        flex: 0 0 35%;
        min-width: 35%;
    }

    .footer_inner {
        width: 79%;
        margin: 0 auto;
    }

    .footer_menu {
        font-size: 12px;
        margin-bottom: 26px;
    }

    .footer_ul {
        line-height: 1.5;
    }

    .footer_button {
        width: 130px;
    }

    .developer {
        font-size: 12px;
    }
}
@media screen and (min-width: 992px) {

    .footer {
        padding-bottom: 28px;
    }

    .footer_inner {
        margin: 0 auto;
    }

    .footer_menu {
        font-size: 12px;
        margin-bottom: 19px;
    }

    .flex_container_left {
        flex: 0 0 67%;
        min-width: 67%;

    }

    .flex_container_right {
        flex: 0 0 33%;
        min-width: 33%;
    }
}

@media screen and (min-width: 1200px) {
    .sale__img {
        width: 80%;
        height: 304px;
        margin-bottom: 70px;
    }

    .footer {
        padding-top: 35px;
        padding-bottom: 28px;
    }

    .footer_inner {
        width: 80%;
        margin: 0 auto;
    }

    .flex_container_left {
        flex: 0 0 56%;
        min-width: 56%;

    }

    .flex_container_right {
        flex: 0 0 44%;
        min-width: 44%;
    }
}
