.sender {
    padding-bottom: 15px;
    padding-top: 10px;
    margin: 0 auto;
    background: #fff;
    font-size: 10px;
        & a {
            color: #000;
            text-decoration: none;
        }
}

.send {
    width: 50%;
}

.lang_login {
    margin-top: 10px;
    width: 50%;
}

.send_link:before {
    content: '';
    width: 21px;
    height: 13px;
    display: inline-block;
    background: url(../images/send.png);
    margin-right: 7px;
}

.header__bottom {
    position: relative;
    background: #000;
    padding-top: 20px;
    padding-bottom: 25px;
    color: $mainColor;
}

.header_burger {
    padding-top: 6px;
    float: left;
    display: inline-block;
}

.header_logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 117px;
    height: 25px;
    display: inline-block;
}

.header_buy {
    float: right;
    color: inherit;
    text-decoration: none;

}

.header_buy:after {
    display: inline-block;
    content: '';
    width: 27px;
    height: 21px;
    margin-left: 2px;
    background: url(../images/buy.png);
}

.header_burger span {
    display: block;
    width: 40px;
    height: 2px;
    margin-bottom: 6px;
    background-color: $mainColor;
}

.burger_button {
    display: inline-block;
    cursor: pointer;
}

.header_burger span:last-child {
    margin-bottom: 0px;
}

.btm_menu {
    @include uppercase();
}

.header__btm_menu {
    padding-top: 28px;
    padding-bottom: 48px;
    border-top: 1px solid rgba(255, 255, 255, .8);
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, .8);
}

.header__btm_menu li {
    padding: 0;
}

.btm_menu_item a {
    padding: 20px 0px;
    display: block;
    text-align: center;
    font-size: 18px;
    color: $mainColor;
    text-decoration: none;
}

.form_search {
    display: none;
}

.header_search_btn {
    display: none;

}

.shipping {
    display: none;
}

.vertical {
    vertical-align: middle;
}

.login_link {
    margin-left: 4px;
}

.login_link:before {
    content: '';
    width: 24px;
    height: 9px;
    display: inline-block;
    background: url(../images/key.png);
    margin-right: 7px;
}

.lang_item:after {
    content: "|";
    display: inline;
    margin-left: 4px;
}

.lang_item:last-child:after {
    content: "";
    display: inline;
    margin-left: 4px;
}

.lang_item:hover {
    font-weight: bold;
}

.lang {
    float: right;
}

@media screen and (min-width: 480px) {
    .sender {
        font-size: 14px;
    }

    .send {
        width: 50%;
        float: left;
    }

    .lang_login {
        margin-top: 0px;
        width: 50%;
        float: right;
    }
}

    @media screen and (min-width: 768px) {

    .header_burger {
        display: none;
    }

    .btm_menu_item a {
        padding: 0px 17px;
        font-size: 14px;
    }

    .header_logo {
        float: left;
        margin-right: 17px;
        position: static;
    }

    .header__btm_menu {
        float: left;
        padding: 0;
        position: static;
        display: block;
        border-top: none;
    }

    .btm_menu_item {
        display: inline-block;
    }

    .header_search_btn {
        position: static;
        display: block;
        float: right;
    }

    .search_icon {
        display: block;
        width: 23px;
        height: 23px;
        margin-right: 16px;
        background: url(../images/search.png);
    }

    .form_search input[type="search"] {
        border: none;
        height: 25px;
        padding-right: 25px;
        border-bottom: 1px solid #000;
    }

    .form_search {
        position: absolute;
        right: 0;
        top: 100%;
        z-index: 100;
    }

    .form_search button {
        position: absolute;
        right: 0;
        bottom: 2px;
        font-size: 0;
        background: #fff url(../images/search1.png);
        border: none;
        width: 23px;
        height: 23px;
    }
}

@media screen and (min-width: 992px) {
    .send {
        width: 25%;
        float: left;
    }

    .shipping {
        display: block;
        width: 50%;
        float: left;
        text-align: center;
    }

    .lang_login {
        width: 25%;
        float: right;
    }
}

@media screen and (min-width: 1200px) {

    .form_search input[type="search"] {
        border-bottom: 1px solid $mainColor;
        background: transparent;
        color: $mainColor;
    }

    .form_search {
        position: relative;
        margin-right: 16px;
        display: block;
    }

    .form_search button {
        background: transparent url(../images/search.png);

    }

    .search_icon {
        display: none;
    }
}