.thumbnail_flex_container {
    display: flex;
    justify-content: space-between;
}

.thumbnail_h1 {
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    line-height: .8;
}

.thumbnail {
    margin-bottom: 50px;
}

.thumb_main img {
    width: 100%;
    height: auto;
}

.thumb_main {
    margin: 0 auto;
    margin-bottom: 60px;
    width: 77%;
    text-align: center;
    line-height: 1.7;
    &:nth-child(2) {
    display: none;
}
    &:last-child {
    display: none;
}
}


.th {
    margin-bottom: 31px;
        &_text a {
        color: #000;
        text-decoration: none;
        line-height: 1.7;
        font-weight: bold;
    }
        &_price {
        font-weight: bold;
    }
}

.price {
    margin-right: 10px;
}

.button {
    height: 44px;
    width: 213px;
    border: 1px solid #b0ac9c;
    margin: 0 auto;
    color: #b0ac9c;
    font-size: 18px;
    text-align: center;
    padding: 10px;
        & a {
        color: #b0ac9c;
        text-decoration: none;
         @include uppercase();
}
}

@media screen and (min-width: 480px) {

    .thumb_main {
        line-height: 1.7;
    }
}

@media screen and (min-width: 768px) {

	.thumbnail {
        margin-bottom: 42px;
    }

    .thumb {
        text-align: center;
            &_img {
                margin-bottom: 26px;
    }
            &_text {
                font-size: 14px;
    }
            &_all {
                width: 79%;
                margin: 0 auto;
                margin-bottom: 37px;
                font-size: 0px;
    }
    }

    .thumb_main {
        width: 33.3%;
        padding: 0;
        margin: 0;
        margin-right: 20px;
        line-height: 2;
        &:nth-child(2) {
            display: block;
    }
        &:last-child {
            display: block;
            margin-right: 0;
    }
}    
}

@media screen and (min-width: 992px) {

    .thumbnail {
        margin-bottom: 44px;
    }

    .thumb_all {
        margin-bottom: 32px;
    }
}
@media screen and (min-width: 1200px) {
    
    .thumb_main {
        margin-right: 34px;
    }
    .thumb_img {
        margin-bottom: 32px;
    }

    .thumb_all {
        margin-bottom: 34px;
        width: 80%
    }
}